<input hidden type="file" accept=".txt" #uploadSettings id="textUploadHidden" (change)="_uploadSettings($event)">
<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="Load Data" [matMenuTriggerFor]="menu">
    <mat-icon>open_in_new</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="main-page">
  <mat-drawer mode="side" [(opened)]="opened">
    <mat-list>
      <mat-list-item><button mat-flat-button (click)="createNodesData()">Redraw Plot</button></mat-list-item>
      <mat-list-item><button mat-flat-button (click)="download()">Download</button></mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Protein label column</mat-label>
          <mat-select [disabled]="!this.loadedFile" [(ngModel)]="labelColumn">
            <mat-option *ngFor="let c of df.getColumnNames()" [value]="c">
              {{c}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Protein fold change column</mat-label>
          <mat-select [disabled]="!this.loadedFile" [(ngModel)]="fcColumn">
            <mat-option *ngFor="let c of df.getColumnNames()" [value]="c">
              {{c}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Node Scaling Factor</mat-label>
          <input matInput [(ngModel)]="nodeScalingFactor" type="number">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Protein Node Size</mat-label>
          <input matInput [(ngModel)]="proteinNodeSize" type="number">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Edge Size</mat-label>
          <input matInput [(ngModel)]="edgeSize" type="number">
        </mat-form-field>

      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button (click)="createNode()" [disabled]="!this.loadedFile">Create Node</button>
        <button mat-flat-button (click)="createEdge()" [disabled]="!this.loadedFile" style="margin-left: 10px">Create Edge</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-tab-group style="margin: 10px" *ngIf="_data.nodes.length > 0">
      <mat-tab>
        <ng-template mat-tab-label>
          Nodes
        </ng-template>
        <table #table
               mat-table
               [dataSource]="_data.nodes"
               class="mat-elevation-z8"
               style="margin: 10px; width: 95%"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let r">{{r.id}}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Node Name</th>
            <td mat-cell *matCellDef="let r">{{r.name}}</td>
          </ng-container>
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>
              Count
            </th>
            <td mat-cell *matCellDef="let r">
              {{r.count}}
            </td>
          </ng-container>
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef>
              Color
            </th>
            <td mat-cell *matCellDef="let r" [style]="{color: r.color}">
              {{r.color}}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
              Actions
            </th>
            <td mat-cell *matCellDef="let r">
              <button mat-icon-button color="warn" (click)="deleteNode(r.id)"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['id', 'name', 'count', 'color', 'actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'count', 'color', 'actions'];"></tr>
        </table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Edges
        </ng-template>
        <table #edgeTable
               mat-table
               [dataSource]="_data.edges"
               class="mat-elevation-z8"
               style="margin: 10px; width: 95%"
        >
          <ng-container matColumnDef="source">
            <th mat-header-cell *matHeaderCellDef>Source Node</th>
            <td mat-cell *matCellDef="let r">{{r.source}}</td>
          </ng-container>
          <ng-container matColumnDef="target">
            <th mat-header-cell *matHeaderCellDef>
              Target Node
            </th>
            <td mat-cell *matCellDef="let r">
              {{r.target}}
            </td>
          </ng-container>
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef>
              Color
            </th>
            <td mat-cell *matCellDef="let r" [style]="{color: r.color}">
              {{r.color}}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
              Actions
            </th>
            <td mat-cell *matCellDef="let r">
              <button mat-icon-button color="warn" (click)="deleteEdge(r.id)"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['source', 'target', 'color', 'actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['source', 'target', 'color', 'actions'];"></tr>
        </table>
      </mat-tab>

    </mat-tab-group>
    <mat-card>
      <mat-card-content>
        <app-plot #cyto [drawData]="drawData"></app-plot>
      </mat-card-content>
    </mat-card>

  </mat-drawer-content>
</mat-drawer-container>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="uploadSettingsData(uploadSettings)">Browse input file</button>
  <button mat-menu-item (click)="loadExampleFile()">Load example file</button>
</mat-menu>
